@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Quicksand&display=swap');


nav {
    background-color: black;
    position: relative;
    top: 50px;
    width: 100%;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0 0 0 60px;
    overflow: hidden;
}

nav li {
    float: left;
    padding: 16px 26px 16px 26px;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    transition: color 0.35s ease-out;
}

nav li a:hover {
    color: gray;
    text-decoration : white underline;
}